<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div id="slide1">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h1 class="panel-title">Lets start from short history of JS:</h1>

                <h2 class="panel-title">(Fun facts about JavaScript)</h2>
            </div>
        </div>
        <ul class="list-group">
            <li class="list-group-item lead"> Actual name of language is EcmaScript</li>
            <li class="list-group-item lead"> Language was designed in 2 weeks</li>
            <li class="list-group-item lead"> Multi-Paradigm</li>
            <li class="list-group-item lead"> Objects without classes</li>
            <li class="list-group-item lead"> Prototypical inheritance</li>
            <li class="list-group-item lead"> Functions as first-class citizens</li>
        </ul>
    </div>
    <!--todo big-font css-->
    <!--class="code-tab"-->
    <div id="slide2" class="big-font">
        <h3>You have done Functional Programming when you did any of this:</h3>

        <p>{{js.caption}}</p>
        <textarea class="code-tab" ui-codemirror ng-model='js.code'
                  ui-codemirror-opts='{{js.opts}}'>
        </textarea>

        <p>{{sql.caption}}</p>
        <textarea ui-codemirror ng-model='sql.code' ui-codemirror-opts='{{sql.opts}}'>
        </textarea>

        <p>{{xml.caption}}</p>
        <textarea ui-codemirror ng-model='xml.code' ui-codemirror-opts='{{xml.opts}}'>
        </textarea>

        <p>{{logo.caption}}</p>
        <textarea ui-codemirror ng-model='logo.code' ui-codemirror-opts='{{logo.opts}}'>
        </textarea>
    </div>

    <div id="slide3" class="big-font">
        <h3>Task #1:</h3>

        <p>{{task.caption}}</p>
        <textarea ui-codemirror ng-model='js.code' ui-codemirror-opts='{{js.opts}}'>
        </textarea>

        <p>{{sql.caption}}</p>
        <textarea ui-codemirror ng-model='sql.code' ui-codemirror-opts='{{sql.opts}}'>
        </textarea>

        <p>{{xml.caption}}</p>
        <textarea ui-codemirror ng-model='xml.code' ui-codemirror-opts='{{xml.opts}}'>
        </textarea>

        <p>{{logo.caption}}</p>
        <textarea ui-codemirror ng-model='logo.code' ui-codemirror-opts='{{logo.opts}}'>
        </textarea>
    </div>

</div>

<div ng-include="'components/footer/footer.html'"></div>
