<div ng-include="'components/navbar/navbar.html'"></div>
<link href="http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic" rel="stylesheet" />
<!--<script>impress().init();</script>-->

<!--class="container"-->
<div  id="impress">
    <div id="slide1" class="step slide" >
        <div class="panel panel-info">
            <div class="panel-heading">
                <h5 class="panel-title">Lets start from short history of JS:</h5>
            </div>
        </div>
        <ul class="list-group">
            <li class="list-group-item lead"> Actual name of language is EcmaScript</li>
            <li class="list-group-item lead"> Language was designed in 2 weeks</li>
            <li class="list-group-item lead"> Multi-Paradigm</li>
            <li class="list-group-item lead"> Objects without classes</li>
            <li class="list-group-item lead"> Prototypical inheritance</li>
            <li class="list-group-item lead"> Functions as first-class citizens</li>
        </ul>
    </div>

    <div id="slide1-2" class="big-font step slide">
        <h1>Reference transparency</h1>
        <h1>Function as first class citizen</h1>
        <textarea ui-codemirror ui-codemirror-opts='{{js.opts}}'>
            var print = console.log;
        </textarea>
    </div>

    <div id="slide2" class="big-font step slide">
        <h1>You have done Functional Programming when you did any of this:</h1>
        <h3>{{js.caption}}</h3>
        <textarea ui-codemirror ng-model='js.code' ui-codemirror-opts='{{js.opts}}'>
        </textarea>
    </div>
    <div id="slide2-2" class="big-font step slide">
        <h3>{{sql.caption}}</h3>
        <textarea ui-codemirror ng-model='sql.code' ui-codemirror-opts='{{sql.opts}}'>
        </textarea>
    </div>
    <div id="slide2-3" class="big-font step slide">
        <h3>{{xml.caption}}</h3>
        <textarea ui-codemirror ng-model='xml.code' ui-codemirror-opts='{{xml.opts}}'>
        </textarea>
    </div>
    <div id="slide2-4" class="big-font step slide">
        <h3>{{logo.caption}}</h3>
        <textarea ui-codemirror ng-model='logo.code' ui-codemirror-opts='{{logo.opts}}'>
        </textarea>
    </div>

    <div id="imperative-functional" class="big-font step slide">
        <h3>Imperative style vs Functional</h3>
        <textarea ui-codemirror ui-codemirror-opts='{{js.opts}}'>
            _.times(taskConfig.times, function(n) {
                deferred = defer();
                dispatcher.addTask(task, deferred);
                todos.push(deferred.promise);
            });

            // vs

            for (i = 1; i <= taskConfig.times; i++) {
                deferred = defer();
                dispatcher.addTask(task, deferred);
                todos.push(deferred.promise);
            }

        </textarea>
    </div>

    <div id="basic-rule-set" class="step slide">
        <ul>
            <li>
                <h1><b>Associativity</b></h1>
                <p>For all a, b and c in S, the equation holds:</p>
                <b>(a • b) • c = a • (b • c)</b>
            </li>

            <li>
                <h1><b>Identity element</b></h1>
                <p>There exists an element e in S such that for every element a in S, the equations holds:</p>
                <strong>e • a = a • e = a</strong>
                <!--monoid-->
            </li>
            <li>
                <h1><b>Idempotence</b></h1>
                <h3>Unary operation</h3>
                <p><strong>(a • a) = a</strong></p>
            </li>
        </ul>
    </div>


    <div id="slide3" class="big-font step slide">
        <h1>JS 101:</h1>
        <h3>Task #1: Fluent API</h3>
        <h3>{{task1.caption}}</h3>
        <form>
            <textarea ui-codemirror ng-model='task1.code' ui-codemirror-opts='{{task1.opts}}'>
            </textarea>
        </form>
    </div>

    <div id="slide3-1" class="big-font step slide">
        <h1>Fluent API</h1>
        <textarea ui-codemirror ng-model='task1.expected' ui-codemirror-opts='{{task1.opts}}'>
        </textarea>
    </div>

    <div id="slide4" class="step slide">
        <h3>Task #1:Response</h3>
        <textarea ui-codemirror ui-codemirror-opts='{{task1.opts}}'>
    function makeSandwich() {
        var preparedFood = 'Here is a sandwich with: ';

        return {
                addLattice: function () {
                    // Lattice logic here
                    preparedFood += 'Lattice';
                    return this;
                },
                addBacon: function () {
                    preparedFood += 'Bacon';
                    return this;
                },
                addTomato: function () {
                    preparedFood += 'Tomato';
                    return this;
                },
                getFood: function () {
                    return preparedFood;
                }
            }
    }
        </textarea>
    </div>

    <div id="fluid-sandwich" class="big-font step slide">
        <h3>Task #fluid-sandwich: makeFluidSandwich()</h3>
        <h3>so that its easy to see its fluent</h3>
        <textarea ui-codemirror ui-codemirror-opts='{{task1.opts}}'>
            function fluent(methodBody) {
                return function fluentized() {
                    methodBody.apply(this, arguments);
                    return this;
                }
            }
        </textarea>
    </div>

    <div id="fluent-sandwich-2" class="step slide">
        <h3>Task #fluent-sandwich:Response</h3>
<textarea ui-codemirror ui-codemirror-opts='{{task1.opts}}'>
    function makeFluentSandwich() {
        var preparedFood = 'Here is a sandwich with: ';

        return {
            addLattice: fluent(function () {
                // Lattice logic here
                preparedFood += 'Lattice';
            }),
            addBacon: fluent(function () {
                preparedFood += 'Bacon';
            }),
            addTomato: fluent(function () {
                preparedFood += 'Tomato';
            }),
            getFood: function () {
                return preparedFood;
            }
        }
    }
</textarea>
    </div>

    <div id="vs-oop" class="step slide">
        <h1>vs OOP</h1>
        <textarea ui-codemirror ui-codemirror-opts='{{task1.opts}}'>
    // Convenient proxy factory bean superclass for
    // proxy factory beans that create only singletons.
    // AKA Spring Hell

    var proxyFactoryBeanSingleton = proxy(factory(bean(
            singleton(/*args*/))
        )

    // or
    var proxyFactoryBeanSingleton = _.composeRight(
                proxy, factory, bean, singleton
            );
        </textarea>
    </div>


    <div id="monads" class="step slide">
        <h1>Monads for dynamic type safety</h1>
        <textarea ui-codemirror  ui-codemirror-opts='{{task1.opts}}'>
            // monads for dynamic type safety
            exports.index = function (req, res) {
                // here db call to get users
                var users = [
                    {id: 1},
                    {id: 2, email: 'some@that.loggedin.com'}
                ];

                res.status(200, users);
            };
        </textarea>
    </div>
    <div id="monads-2" class="step slide">
        <h1>Monads for dynamic type safety, cd.</h1>
        <textarea ui-codemirror  ui-codemirror-opts='{{task1.opts}}'>
            exports.index = function (req, res) {
                // here db call to get users
                var users = [
                    {id: 1},
                    {id: 2, email: 'some@that.loggedin.com'}
                ];

                res.status(200).json(users);
            };
        </textarea>
    </div>

    <div id="slide6" class="step slide">
        <h3>Task #2: Generators</h3>
        <h3>{{task2.caption}}</h3>
        <textarea class="test" ui-codemirror ng-model='task2.code' ui-codemirror-opts='{{task2.opts}}'>
        </textarea>
    </div>

    <div id="slide6-2" class="step slide">
        <h1>Task #2:Response</h1>
<textarea ui-codemirror ui-codemirror-opts='{{task2.opts}}'>
 function nextNum() {
    var count = 1;
    nextNum = function () {
        return ++count;
    };
    return count;
}
</textarea>
    </div>

    <div id="curry" class="step slide">
        <h1>Make function adder:</h1>
        <textarea class="test" ui-codemirror ui-codemirror-opts='{{task2.opts}}'>
            adder(1)(2); //=> 3
            adder(2)(2); //=> 4
        </textarea>
    </div>

    <div id="curry-2" class="step slide">
        <h1>Currying()</h1>
        <h1><a href="http://en.wikipedia.org/wiki/Haskell_Curry" target="blank">
            Haskell Curry</a>
        </h1>
        <h1>Task #3:Response</h1>
        <textarea ui-codemirror ui-codemirror-opts='{{task2.opts}}'>
           var adder = function (x) {
                return function (y) {
                    return x + y;
                }
           };
        </textarea>
    </div>


    <div id="map" class="step slide">
        <h1>Task #4:</h1>
        <h3>Use map function to transform data-structure</h3>

        <textarea class="test" ui-codemirror ui-codemirror-opts='{{task2.opts}}'>
            var isTheArea = [
                'Urban',
                'Peri-urban',
                'Rural',
                'NS'
            ];

            var isTheArea2 = [
                { name: 'Urban' },
                { name: 'Peri-urban' },
                { name: 'Rural' },
                { name: 'NS' }
            ];
        </textarea>
    </div>

    <div id="map-2" class="step slide">
        <h1>Task #4:Response</h1>
        <textarea ui-codemirror ui-codemirror-opts='{{task2.opts}}'>

            function addNameProp(el) {
                return {name: el}
            }


            var isTheArea2 = [
                'Urban',
                'Peri-urban',
                'Rural',
                'NS'
            ].map(addNameProp);
        </textarea>
    </div>


    <div id="flip" class="step slide">
        <h1>Decorator flip:</h1>
        <textarea class="test" ui-codemirror ui-codemirror-opts='{{task2.opts}}'>
            function flip(fn) {
                return function flipped(a, b) {
                    return fn.call(this, b, a);
                }
            }
        </textarea>
    </div>

    <div id="flip-from-to" class="step slide">
        <h1>Decorator flip:</h1>
        <textarea class="test" ui-codemirror ui-codemirror-opts='{{task2.opts}}'>
            function fromTo(a, b) {
                return "from: " + a + "to: " + b;
            }
        </textarea>
    </div>

    <div id="flip-task" class="step slide">
        <h1>Task #flip-fromTo: make returnTrip()</h1>
        <textarea ui-codemirror ui-codemirror-opts='{{task2.opts}}'>
            //=> from: Basel to: Zurich
            fromTo('Basel', 'Zurich');

            //=> from: Zurich to: Basel
            returnTrip("Basel", "Zurich");
        </textarea>
    </div>

    <div id="flip-response" class="step slide">
        <h1>Task #flip-fromTo:Response</h1>
        <textarea ui-codemirror ui-codemirror-opts='{{task2.opts}}'>
            var returnTrip = flip(fromTo);

            //=> from: Basel to: Zurich
            fromTo('Basel', 'Zurich');

            //=> from: Zurich to: Basel
            returnTrip('Basel', 'Zurich');
        </textarea>
    </div>

    <div id="curry-combinator" class="step slide">
        <h1>Example unary combinator: curry</h1>
        <textarea ui-codemirror ui-codemirror-opts='{{task2.opts}}'>
        function curry(fn) {
            return function curried(a, optionalB) {
                if (arguments.length > 1) {
                    return fn.call(this, a, optionalB);
                } else {
                    return function partiallyApplied(b) {
                        return fn.call(this, a, b);
                    }
                }
            }
        }
        </textarea>
    </div>

    <div id="curry-combinator-adder" class="step slide">
        <h1>Task #3-using-curry</h1>
        <h3>From task #3: Extract function add(), and use currying to make (better) adder()</h3>
    </div>

    <div id="curry-combinator-adder-2" class="step slide">
        <h1>Task #3-using-curry:Response</h1>
        <textarea ui-codemirror ui-codemirror-opts='{{task2.opts}}'>
            var add = function (a, b) {
                return a + b;
            };
            var adder = _.curry(add);
            adder(1, 2); //=>3
            adder(1)(2); //=>3
        </textarea>
    </div>

    <div id="map-articles" class="step slide">
        <h1>Task #compose-map:</h1>
        <h3>Return <b>firstTitle()</b> using map</h3>
        <h1>https://gist.github.com/syzer/e7a69e8a31205766a7c0</h1>
        <textarea ui-codemirror ui-codemirror-opts='{{task2.opts}}'>
            var articles = [
            {
                title: 'Why OO Sucks by Joe Armstrong',
                url: 'http://www.bluetail.com/~joe/vol1/v1_oo.html',
                author: {
                    name: 'Joe Armstrong',
                    email: 'empty@email.com'
                }
            },
            {
                title: 'Functional JavaScript',
                url: 'http://shop.oreilly.com/product/0636920028857.do',
                author: {
                    name: 'Michael Fogus',
                    email: 'empty2@email.com'
                }
            }
            ];
        </textarea>
    </div>

    <div id="map-articles-2" class="step slide">
        <h1>Task #compose-map:Response</h1>
        <textarea ui-codemirror ui-codemirror-opts='{{task2.opts}}'>
        var firstTitle = function (iterable) {
            return iterable.map(function (el) {
                return el.title;
            })[0]
        };
        </textarea>
    </div>

    <div id="reduce-articles" class="step slide">
        <h1>Function composition</h1>
        <h1>Task #compose-reduce:</h1>
        <h3>Return <b>firstTitle()</b> using<b> reduce</b></h3>
        <textarea ng-model="articles.code" ui-codemirror ui-codemirror-opts='{{task2.opts}}'>
        </textarea>
    </div>

    <div id="reduce-articles-2" class="step slide">
        <h1>Task #compose-reduce:Response</h1>
        <textarea ui-codemirror ui-codemirror-opts='{{task2.opts}}'>
        var firstTitle = function (iterable) {
            return iterable.reduce(function (acc, el, i) {
                0 === i ? acc = el.title : null;
                return acc;
            }, '')
        };
        </textarea>
    </div>

    <div id="compose-articles" class="step slide">
        <h1>Task #compose-compose:</h1>
        <h3>Return <b>firstTitle()</b> using<b> _.compose, _.curry, _.first, _.pluck</b></h3>
        <textarea ng-model="articles.code" ui-codemirror ui-codemirror-opts='{{task2.opts}}'>
        </textarea>
    </div>

    <div id="compose-articles-2" class="step slide">
        <h1>Task #compose-compose:Response</h1>
        <textarea ui-codemirror ui-codemirror-opts='{{task2.opts}}'>

            var rPluck = _.curry(function (x, xs) {
                return _.pluck(xs, x);
            });
            var getTitle = rPluck('title');

            var firstTitle = _.compose(_.first, getTitle);

            //=>Why OO Sucks by Joe Armstrong
            firstTitle(articles);
        </textarea>
    </div>

    <div id="articles-is-author" class="step slide">
        <h1>Task #articles-is-author:Response</h1>
        <h3>Make function isAuthor() using: <b>_.compose, _.pluck, _.curry</b></h3>
        <textarea ui-codemirror ui-codemirror-opts='{{task2.opts}}'>
        isAuthor(articles)('Michael Fogus');   //=> true
        isAuthor(articles)('Lukas');           //=> false
        </textarea>
    </div>

    <div id="articles-is-author-2" class="step slide">
        <h1>Task #articles-is-author:Response</h1>
        <textarea ui-codemirror ui-codemirror-opts='{{task2.opts}}'>
var authorsNames = _.compose(rPluck('name'), rPluck('author'));

//=>[ 'Joe Armstrong', 'Michael Fogus', 'Reginald Braithwaite' ]
authorsNames(articles);

var isAuthor = _.curry(function (x, xs) {
    return _.contains(authorsNames(x), xs);
});

isAuthor(articles)('Michael Fogus');   //=> true
isAuthor(articles)('Lukas');           //=> false
        </textarea>
    </div>

    <div id="before-decorator" class="step slide">
        <h1>vs AOP</h1>
        <h1>Decorator before:</h1>

    <textarea ui-codemirror ui-codemirror-opts='{{task2.opts}}'>
    // AKA ZF2
    var stupid = {
        remove: function () {
            if (!this.isAdmin()) {
                this.remove()
            }
            // destroy code
            return this;
        }
        // 15x times this.isAdmin()
    };
    </textarea>
    </div>

    <div id="before-decorator-1" class="step slide">
        <h1>vs AOP</h1>
        <h1>Decorator before:</h1>

        <textarea ui-codemirror ui-codemirror-opts='{{task2.opts}}'>
        var before = curry(
            function decorate(decoration, method) {
                return function decoratedWithBefore() {
                    decoration.apply(this, arguments);
                    return method.apply(this, arguments);
                };
            }
        );
        </textarea>
    </div>

    <div id="before-decorator-2" class="step slide">
        <h1>Let's use before decorator:</h1>
        <textarea ui-codemirror ui-codemirror-opts='{{task2.opts}}'>
            var isAdminFirst = before(function () {
                this.isAdmin();
            });

            var lessStupid = {
                remove: isAdminFirst(function () {
                    // destroy code
                    return this;
                })
            };

            var theLeastStupid = {
                remove : isAdminFirst(fluent(function() {
                    // destroy code
                }))
            };
        </textarea>
    </div>

    <div id="decorator usages" class="step slide">
        <h1>Common decorators usages</h1>
        <ul>
            <li>@logInput</li>
            <li>@errorHandling</li>
            <li>@measureExecutionTime</li>
            <li>Make functions more single-responsibility (AKA SOLID)</li>
        </ul>
    </div>

    <div id="after-decorator" class="step slide">
        <h1>Task #after-decorator</h1>
        <h3>Make after() decorator, that runs a function after other function</h3>
    </div>

    <div id="after-decorator-2" class="step slide">
        <h1>Task #after-decorator: Response</h1>
        <textarea ui-codemirror ui-codemirror-opts='{{task2.opts}}'>
var after = curry(
    function decorate(decoration, method) {
       return function decoratedWithAfter() {
           var returnValue = method.apply(this, arguments);
           decoration.apply(this, arguments);
           return returnValue;
       };
    }
);
        </textarea>
    </div>

    <div id="after-decorator-with-log" class="step slide">
        <h1>Decorate function double() with login and make doubleWithLog()</h1>
        <h3>Task #after-decorator-with-logging</h3>
        <textarea ui-codemirror ui-codemirror-opts='{{task2.opts}}'>
            var double = function (n) {
                return n * 2;
            };
        </textarea>
    </div>

    <div id="after-decorator-with-log-2" class="step slide">
        <h1>Task #after-decorator-with-logging: Response</h1>
        <textarea ui-codemirror ui-codemirror-opts='{{task2.opts}}'>
            var doubleWithLog = after(console.log, double);

            //=>4 (console log first arguments)
            console.log(doubleWithLog(2));
        </textarea>
    </div>

    <div id="curry-task-summary" class="step slide">
        <h1>Task #curry-task-summary:</h1>
        <h1>https://gist.github.com/syzer/0abe91822a0b8e1ec750</h1>
        <textarea ng-model="incompleteTaskSummary.serverTasks" ui-codemirror ui-codemirror-opts='{{task2.opts}}'>
        </textarea>
    </div>

    <div id="curry-task-summary-2" class="step slide">
        <h1>Expected</h1>
        <textarea ng-model="incompleteTaskSummary.expectedTaskSummary" ui-codemirror ui-codemirror-opts='{{task2.opts}}'>
        </textarea>
    </div>

    <div id="curry-task-summary-3" class="step slide">
        <h1>Helper: fetchData()</h1>
        <textarea ng-model="incompleteTaskSummary.fetchData" ui-codemirror ui-codemirror-opts='{{task2.opts}}'>
        </textarea>
    </div>

    <div id="curry-task-summary-4" class="step slide">
        <h1>Task #curry-task-summary: Response</h1>
        <textarea ui-codemirror ui-codemirror-opts='{{task2.opts}}'>
    var rPluck = _.curry(function (x, xs) {
        return _.pluck(xs, x);
    });
    var getTitle = rPluck('title');
    var firstTitle = _.compose(_.first, getTitle);

    //=>Why OO Sucks by Joe Armstrong
    firstTitle(articles);
        </textarea>
    </div>

    <div id="bonus-round-0" class="step slide">
        <textarea ui-codemirror ui-codemirror-opts='{{coffee.opts}}' style="height: 1400px!important;">
var getIncompleteTaskSummaries = function(memberName) {
    return fetchData()
        .then(function(data) {
            return R.get('tasks', data)
        })
        .then(function(tasks) {
            return R.filter(function(task) {
                return R.propEq('username', memberName, task)
            }, tasks)
        })
        .then(function(tasks) {
            return R.reject(function(task) {
                return R.propEq('complete', true, task);
            }, tasks)
        })
        .then(function(tasks) {
            return R.map(function(task) {
                return R.pick(['id', 'dueDate', 'title', 'priority'], task);
            }, tasks);
        })
        .then(function(abbreviatedTasks) {
            return R.sortBy(function(abbrTask) {
                return R.get('dueDate', abbrTask);
            }, abbreviatedTasks);
        });
    };
        </textarea>
    </div>

    <div id="bonus-round-1" class="step slide">
        <textarea ui-codemirror ui-codemirror-opts='{{coffee.opts}}'>
var getIncompleteTaskSummaries = function (memberName) {
    return fetchData()
        .then(R.get('tasks'))
        .then(R.filter(R.propEq('username', memberName)))
        .then(R.reject(R.propEq('complete', true)))
        .then(R.map(R.pick(['id', 'dueDate', 'title', 'priority'])))
        .then(R.sortBy(R.get('dueDate')));
};
        </textarea>
    </div>

    <div id="bonus-round-2" class="step slide">
        <textarea ui-codemirror ui-codemirror-opts='{{coffee.opts}}'>
 getIncompleteTaskSummaries = (memberName) ->
   fetchData()
    .then R.get "tasks"
    .then R.filter R.propEq "username", memberName
    .then R.reject R.propEq "complete", true
    .then R.map R.pick ["id", "dueDate", "title", "priority"]
    .then R.sortBy R.get "dueDate"
        </textarea>
    </div>

</div>

<div ng-include="'components/footer/footer.html'"></div>
