<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div id="slide1">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h1 class="panel-title">Lets start from short history of JS:</h1>

                <h2 class="panel-title">(Fun facts about JavaScript)</h2>
            </div>
        </div>
        <ul class="list-group">
            <li class="list-group-item lead"> Actual name of language is EcmaScript</li>
            <li class="list-group-item lead"> Language was designed in 2 weeks</li>
            <li class="list-group-item lead"> Multi-Paradigm</li>
            <li class="list-group-item lead"> Objects without classes</li>
            <li class="list-group-item lead"> Prototypical inheritance</li>
            <li class="list-group-item lead"> Functions as first-class citizens</li>
        </ul>
    </div>
    <!--todo big-font css-->
    <div id="slide2" class="big-font">
        <h3 ng-click="testMe()">You have done Functional Programming when you did any of
            this:</h3>

        <div class="big">
            <p>Being alive after 2006</p>
            <textarea class="code-tab" ui-codemirror ng-model="jsCode"
                      ui-codemirror-opts="jsOptions">
            </textarea>

            <p>Used a DB:</p>
            <textarea ui-codemirror ng-model="sqlCode" ui-codemirror-opts="sqlOptions">
            </textarea>

        </div>
    </div>

</div>

<div ng-include="'components/footer/footer.html'"></div>
